#first-t{
   letter-spacing: 5px;
}

.underlined{
    text-decoration: underline;
}

.centered{
    text-align: center;
}

#first-p{
    text-indent: 80px;
}

#second-p{
    font-size: 23px;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-style: oblique;
}