html{
    padding: 0 5px;
    height:100%;
}
body{
    height:100%;
    margin: 0;
}
header{
    margin: 0 15px;
    background-color: blue;
    height: 33%;
    padding: 5px;
}
#main{
    background-color: green;
    height: 33%;
    margin: 0 5px;
    padding: 5px;
    background-image: url("../ressources/image/ours.jpg");
    background-repeat: repeat-y;
}
footer{
    margin: 0 15px;
    background-color: gray;
    height: 33%;
    padding: 5px;
    vertical-align: top;
    horiz-align: right;
}
footer > img{
    float: right;
}
.block{
    border-color: black;
    border-width: 2px;
}