body{
    margin: 0 50px;
    background-color: gray;
}
header{
    background-image: url("../ressources/image/ecureuil.jpg");
    background-repeat: repeat-x;
    padding: 50px 0px;
}
nav{
    padding: 10px;
    margin: 10px;
    border-style: solid;
    text-align: center;
}
footer{
    text-align: center;
    margin: 10px;
}
#main{
    background-color: darkgray;
    border-style: solid;
    border-radius: 15px;
    padding: 25px;
}
.span_lien{
margin: 20px;
}