body{
    padding: 0px;
    height: 100%;
    text-align: center;
    position: relative;
    top: 200px;
}
.lower{
    color: green;
    font-weight: bold;
}
article{
    position: fixed;
    float: left;
    top: 0;
}
.higher{
    color: red;
    font-weight: bold;
}