html{
    background-color:#5d87cc;
    list-style-type: none;
}
body{
    margin: 0;
}
header{
    position: fixed;

}
header{
    background-color: antiquewhite;
    width: 100%;
    padding: 10px;
}
header ul > li {
    float: left;
    margin: 10px;
    list-style-type: none;
}

.desc{
    top:0;
    padding: 5px;
    height: 208px;
    background-color:#2c395e;
}
ul{
    padding: 0px;
}
aside{
    width: 200px;
    float:left;
    min-height:100%;
    color:white;
    padding: 0px;
    background-color: #34495e;
}
#logo{
    float: left;
    width: 200px;
    background-color: #344558;
}
#main{
    margin-top: 150px;
    margin-left:200px;
    min-height:100%;
    background-color:#5d87cc;
}
.circular{
    border-radius: 150px;
    padding: 4px
}
aside h2{
    background-color:#31415e;
}
img{
    width: 100%;
}