html{
}
body{
    margin: 0px;
}
header{
    background-color: #2c395e;
    width: 100%;
    height: 50px;
    list-style-type: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 50px;
}
#hobbies{
    text-align: center;
    float:left;
}
table , th, td{
    border-style: solid;
    text-align: center;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.sub-list > li{
    float: none;
}
.main{
    background-color: #5d87cc;
    width: 100%;

}
footer{
    background-color: #2c395e;
    width: 100%;

}